<main>
  <app-svg-inline src="/images/svg/logo-devlinks-large.svg" />
  <form>
    <h1>Login</h1>
    <p>Add your details below to get back into the app</p>
    <div class="inputs-list">
      <app-input type="email" label="Email address" name="email" placeholder="e.g. alex@email.com" icon="icon-email" />
      <app-input type="password" label="Password" name="password" placeholder="Enter your password" icon="icon-password" />
    </div>
    <app-button type="submit">Login</app-button>
    <p class="link">Don’t have an account? <a routerLink="/create-account">Create account</a></p>
  </form>
</main>
