@font-face {
  font-family: 'Instrument Sans';
  src: url('/fonts/instrument-sans/InstrumentSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: 'Instrument Sans';
  src: url('/fonts/instrument-sans/InstrumentSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: italic;
}

:root {
  --purple: #633CFF;
  --purple-hover: #BEADFF;
  --light-purple: #EFEBFF;
  --dark-grey: #333333;
  --grey: #737373;
  --borders: #D9D9D9;
  --light-grey: #FAFAFA;
  --white: #FFFFFF;
  --red: #FF3939;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Instrument Sans', sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--light-grey);
}